body
{
    background-color: rgb(234, 3, 65);
    
   
    background-image: repeating-conic-gradient(rgb(128, 0, 255) 10%, rgb(255, 255, 255) 20%);
    color: black;
    font-family: 'Times New Roman', Times, serif;
}

.heading
{
    font-size: 26px;
    width: 100%;
    margin: 0;
    box-shadow: 0px 20px 15px grey;
    text-align: center;
    background-color: black;
    color: white;
    font-weight: bolder;
    height: 150;
    padding: 15px;
}

.note
{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: white;
    padding: 10px;
}

.footer
{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    bottom: 0;
    position: fixed;
    line-height: 4;
    text-align: center;
    font-weight: bolder;
    font-size: 20px;
}

canvas
{
    border: 6px ridge rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 15px 15px 15px grey;

}